@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .logo {
        margin-right: 1rem; /* Ajuste da margem para telas menores */
    }
    .logo img {
        width: 50px; /* Reduzindo o tamanho da imagem */
        height: auto; /* Mantendo a proporção */
        margin-left: -100px; /* Ajuste da margem para telas menores */
    }
}
/*Menu*/

.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(2, 35, 97);
    position: fixed;
    padding-left: 30rem;

}

.logo {
    width: 40px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 60rem;
}

.logo img {

    width: 80px;
    height: 10rem;
    margin-right: 10px;
    margin-left: -380px;
    
}

.logo h3{

    color: aliceblue;
    font-size: 2rem;
    margin: 0;
    white-space: nowrap;

}

.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 200ms ease-in;
}

.content .list-menu li a {

    padding: 3rem 1rem 2rem 1rem;
    color: aliceblue;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}

.content .list-menu li a:hover{
    background-color: #3333;
    border-bottom: 4px solid aquamarine;
    color: aquamarine;
}

/*First section*/

.first-section {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29,29,29,0.8), rgba(29,29,29,0.8)) ,url(img/pexels-leon-ardho-1552252.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.first-section .conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.first-section h1 {
    color: aliceblue;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.first-section h2 {
    color: aliceblue;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.btn button {
    width: 260px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(2, 35, 97);
    border-radius: 10px;
    color: aliceblue;
    font-weight: 700;
    margin-top: 5rem;
    transition: all 400ms ease-in;
}

.btn button:hover {
    border: 1px solid aliceblue;
    background-color: transparent;
    color: aliceblue;
}

/*Sobre nos*/

.sobre-nos{
    background-color: rgb(2, 35, 97);
    width: 100%;
    padding-bottom: 5rem;
    color: aliceblue;
    display: flex;
    align-items: center;

}

.sobre-nos img {
    width: 500px;
    height: 600px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid rgb(155, 155, 155);
}

.main {
    display: flex;
    justify-content: space-between;
}

.contentsobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentsobre h2 {
    font-size: 6rem;
    margin-bottom: 1rem;

}

.contentsobre p {
    text-align: center;
    font-size: 2.8rem;
    width: 1200px;

}

/*Meu Trablho*/

.meu-trabalho{
    background-color: aliceblue;
    width: 100%;
    padding-bottom: 5rem;
    color: rgb(2, 35, 97);
    display: flex;
    align-items: center;

}

.meu-trabalho img {
    width: 500px;
    height: 600px;
    margin-top: 10rem;
    margin-left: 10rem;
}

.mainii {
    display: flex;
    justify-content: space-between;
}

.contentsobreaplicativo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentsobreaplicativo h2 {
    font-size: 6rem;
    margin-bottom: 1rem;

}

.contentsobreaplicativo p {
    text-align: center;
    font-size: 2.8rem;
    width: 1200px;

}

/*Contatos*/

.contatos{
    width: 100%;
    background-color: #1f1e1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: aliceblue;
    padding-bottom: 4rem;
}

.contatos h3{
    font-size: 6rem;
    margin-bottom: 3rem;
}

.contatos-secao{
    width: 100px;
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
}

.contatos-secao a{
    margin-right: 3rem;
    color: none;
    cursor: pointer;
    transition: all 200ms ease-in;
    text-decoration: none;
    color: inherit;

}

.contatos-secao div{
    cursor: pointer;
    transition: all 200ms ease-in;
}

.contatos-secao div:hover{
    color: aquamarine;

}

footer{
    height: 25px;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}